.contact__container {
  display: flex;
  justify-content: center;
  padding: 70px 20px;
  h2 {
    margin: 3rem 0;
  }
  input,
  textarea {
    width: stretch;
    border-radius: 10px;
    background-color: #474747;
    border: none;
    font-size: medium;
    color: white;
    padding: 10px 20px;
    margin-bottom: 1rem;
  }
  input {
    height: 25px;
  }
  textarea {
    height: 100px;
  }
  &__divButton {
    text-align: center;
    margin-top: 2rem;
    &__button {
      height: 40px;
      width: 70%;
      border: none;
      background: linear-gradient(to right, #fdaa04, #fb68da);
      font-size: x-large;
      font-weight: bold;
      color: black;
    }
    &__button:disabled {
      filter: grayscale(1);
    }
  }
}

@media (min-width: 1024px) {
  .contact__container {
    form {
      width: 50rem;
    }
  }
}
