.blog__container {
  padding: 70px 20px 0 20px;
  h3 {
    margin-top: 3rem;
  }
  &__post {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    height: 3rem;
    margin: 1rem 0;
    &:hover {
      background: linear-gradient(to right, #fdaa04, #fb68da);
      color: black;
      .blog__container__post__img {
        transform: scale(1.2);
      }
    }
    &__img {
      margin: 3%;
      width: 3rem;
    }
  }
  &__blog {
    text-align: center;
    margin: 5rem 0;
    &__button {
      background: transparent;
      background-image: linear-gradient(90deg, black, black), linear-gradient(to right, #fdaa00, #f565db);
      background-clip: padding-box, border-box;
      background-origin: border-box;
      border: 2px solid transparent;
      border-radius: 10px;
      padding: 3% 7%;
      transition: all 0.2s ease-in-out;
      letter-spacing: 2px;
      cursor: pointer;
      &__text {
        background-image: linear-gradient(to right, #fdaa00, #f565db);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: large;
      }
    }
    &__button:hover {
      transform: scale(1.2);
    }
  }
}

@media (min-width: 1024px) {
  .blog__container {
    &__blog {
      &__button {
        padding: 2% 4%;
      }
    }
  }
}
