<div class="blog__container">
  <h2>Conoce mi blog</h2>
  <p>
    Aquí es dónde encontrarás tips y recursos de programación, artículos de tecnología y cualquier cosa interesante
    relacionada principalmente con el mundo del desarrollo web.
  </p>
  <p>Y quien sabe, puede que algún dia acudas a este blog para resolver tus problemas 😉.</p>
  <h3>Últimos posts</h3>
  <div class="blog__container__post">
    <img src="assets/img/javascript-logo.png" alt="Imagen del post" class="blog__container__post__img" width="15%" />
    <p>Top 5 mejores recursos de JavaScript</p>
  </div>
  <div class="blog__container__post">
    <img src="assets/img/javascript-logo.png" alt="Imagen del post" class="blog__container__post__img" width="15%" />
    <p>Top 5 mejores recursos de JavaScript</p>
  </div>
  <div class="blog__container__post">
    <img src="assets/img/javascript-logo.png" alt="Imagen del post" class="blog__container__post__img" width="15%" />
    <p>Top 5 mejores recursos de JavaScript</p>
  </div>
  <div class="blog__container__post">
    <img src="assets/img/javascript-logo.png" alt="Imagen del post" class="blog__container__post__img" width="15%" />
    <p>Top 5 mejores recursos de JavaScript</p>
  </div>
  <div class="blog__container__blog">
    <button class="blog__container__blog__button">
      <a class="blog__container__blog__button__text" href="https://blog.kaceres.dev/">Ir al Blog</a>
    </button>
  </div>
  <button (click)="prueba()">PRUEBA</button>
</div>
