<div class="blog__container">
  <h2>Conoce mi blog</h2>
  <p>
    Aquí encontrarás tips y recursos de programación, artículos de tecnología y cualquier cosa interesante relacionada
    principalmente con el mundo del desarrollo web.
  </p>
  <p>Y quien sabe, puede que algún dia acudas a este blog para resolver tus problemas 😉.</p>
  <h3>Últimos posts</h3>
  <div class="blog__container__post" *ngFor="let post of posts; index as i; trackBy: trackByFn">
    <img src="{{ post.imgUrl }}" alt="Imagen del post" class="blog__container__post__img" width="15%" />
    <p>{{ post.title }}</p>
  </div>
  <div class="blog__container__blog">
    <button class="blog__container__blog__button" (click)="toBlog()">
      <span class="blog__container__blog__button__text">Ir al Blog</span>
    </button>
  </div>
</div>
