.home__container {
  &__header {
    padding: 0 25px 0;

    h1.home__container__header__title {
      font-size: 2.5em;
      background: linear-gradient(0.1turn, #fdaa04 10%, #f97846 30%, #fb68da 60%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      letter-spacing: 1px;
      margin-bottom: 1.5rem;
      padding-top: 4rem;
      margin-top: 0;
      text-align-last: end;
    }

    span.home__container__header__tipyng {
      color: lime;
      display: block;
      white-space: nowrap;
      border-right: 4px solid;
      width: calc(var(--caracteres) * 1ch);
      font-size: 0.8rem;
      font-weight: bold;
      animation: tipyng 4s steps(var(--caracteres)), blink 0.7s infinite step-end alternate;
      overflow: hidden;
    }

    @keyframes tipyng {
      from {
        width: 0;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
  }

  &__personal__info {
    margin: 35px 15px;
    display: flex;
    flex-direction: column;
    &__title {
      margin: 0;
    }
    &__text {
      padding: 0px 10px;
      font-size: 15px;
      &.text-center {
        text-align: center;
      }
    }
    &__img {
      border-radius: 50%;
      align-self: center;
      margin: 1rem;
    }
  }

  &__technologies {
    margin: 35px 15px;
    &__text {
      padding: 0px 10px;
      font-size: 15px;
    }
    &__slider {
      height: 50px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 95%;
      &__track {
        -webkit-animation: scroll 20s linear infinite;
        animation: scroll 20s linear infinite;
        animation-play-state: running;
        -webkit-animation-play-state: running;
        display: flex;
        width: calc(100px * var(--sliderElements) * 2);
        &__slide {
          height: 50px;
          width: 100px;
          img {
            height: 100%;
          }
        }
      }
      @keyframes scroll {
        0% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(calc(-100px * var(--sliderElements)));
          transform: translateX(calc(-100px * var(--sliderElements)));
        }
      }
    }
  }

  &__softSkills {
    margin: 35px 15px;
    &__tags {
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
      padding: 0 10px;
      justify-content: space-around;
      &__tag {
        border: 1px solid #787878;
        padding: 5px;
        border-radius: 5px;
        background-color: #474747;
        color: white;
      }
    }
  }

  &__arrowDown {
    text-align: center;
    &__bounce {
      width: 3rem;
      scroll-behavior: smooth;
      animation: bounce-down 2s linear infinite;

      @keyframes bounce-down {
        25% {
          transform: translateY(-4px);
        }
        50%,
        100% {
          transform: translateY(0);
        }
        75% {
          transform: translateY(4px);
        }
      }
    }
  }

  &__angular {
    margin: 45px 15px;
    display: flex;
    justify-content: center;
    &__box {
      height: 21rem;
      width: 19rem;
      background-color: #101010;
      border-radius: 10%;
      box-shadow: 0px 0px 30px rgb(181 46 49 / 70%);
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        content: '';
        position: absolute;
        height: 28rem;
        width: 30rem;
        background-image: conic-gradient(transparent 225deg, #b52e31 315deg);
        animation: rotar 20s linear infinite;
      }
      @keyframes rotar {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      &::after {
        content: '';
        position: absolute;
        height: 20.7rem;
        width: 18.7rem;
        background-color: #101010;
        border-radius: 10%;
        box-shadow: inset 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
      }
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        height: 100%;
        &__image {
          z-index: 1;
          padding: 30px 0 15px 0;
        }
        &__text {
          z-index: 1;
          text-align: center;
        }
      }
    }
  }

  &__react {
    margin: 45px 15px;
    display: flex;
    justify-content: center;
    &__box {
      filter: grayscale(1);
      height: 21rem;
      width: 19rem;
      background-color: #101010;
      border-radius: 10%;
      box-shadow: 0px 0px 30px rgb(87 175 246 / 70%);
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        content: '';
        position: absolute;
        height: 28rem;
        width: 30rem;
        // background-image: conic-gradient(transparent 225deg, #55acf3 315deg);
        // animation: rotar 20s linear infinite;
      }
      @keyframes rotar {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      &::after {
        content: '';
        position: absolute;
        height: 20.7rem;
        width: 18.7rem;
        background-color: #101010;
        border-radius: 10%;
        box-shadow: inset 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
      }
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        height: 100%;
        &__image {
          z-index: 1;
          padding: 30px 0 15px 0;
        }
        &__text {
          z-index: 1;
          text-align: center;
        }
        &__lock {
          z-index: 1;
          width: 100px;
        }
      }
    }
  }
  &__swift {
    margin: 45px 15px;
    display: flex;
    justify-content: center;
    &__box {
      filter: grayscale(1);
      height: 21rem;
      width: 19rem;
      background-color: #101010;
      border-radius: 10%;
      box-shadow: 0px 0px 30px rgb(255 87 34 / 70%);
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        content: '';
        position: absolute;
        height: 28rem;
        width: 30rem;
        // background-image: conic-gradient(transparent 225deg, #ff5722 315deg);
        // animation: rotar 20s linear infinite;
      }
      @keyframes rotar {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      &::after {
        content: '';
        position: absolute;
        height: 20.7rem;
        width: 18.7rem;
        background-color: #101010;
        border-radius: 10%;
        box-shadow: inset 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
      }
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        height: 100%;
        &__image {
          z-index: 1;
          padding: 30px 0 15px 0;
        }
        &__text {
          z-index: 1;
          text-align: center;
        }
        &__lock {
          z-index: 1;
          width: 100px;
        }
      }
    }
  }

  &__experience {
    margin: 35px 0;
    &__semicircle {
      float: right;
      width: 10rem;
      height: 20rem;
      clip-path: circle(63% at 100%);
      shape-outside: circle(70% at 100%);
      background: black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      & > a {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
      &__img {
        padding: 0 1rem;
      }
    }
    &__positions {
      margin: 35px 15px;
      border-bottom: 1.5px solid transparent;
      border-image: linear-gradient(0.25turn, #87bd25, transparent 70%);
      border-image-slice: 1;
    }
  }
  &__speak {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      text-align: center;
    }
    &__button {
      background: transparent;
      background-image: linear-gradient(90deg, black, black), linear-gradient(to right, #fdaa00, #f565db);
      background-clip: padding-box, border-box;
      background-origin: border-box;
      border: 2px solid transparent;
      border-radius: 10px;
      padding: 3% 7%;
      transition: all 0.2s ease-in-out;
      letter-spacing: 2px;
      &__text {
        background-image: linear-gradient(to right, #fdaa00, #f565db);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: large;
      }
    }
    &__button:hover {
      transform: scale(1.2);
    }
  }

  &__blog {
    margin: 35px 15px;
    &__title {
      font-size: medium;
    }
    &__posts {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 5% 2% 0% 2%;
      margin: 5% 10%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &__text {
        padding: 0 7%;
        font-size: small;
      }
    }
  }
}

@media (min-width: 320px) {
  .home__container {
    &__header {
      h1.home__container__header__title {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
    span.home__container__header__tipyng {
      font-size: medium;
    }
  }
}

@media (min-width: 375px) {
  .home__container {
    &__header {
      h1.home__container__header__title {
        font-size: 3.7rem;
      }
    }
    span.home__container__header__tipyng {
      font-size: larger;
    }
  }
}

@media (min-width: 425px) {
  .home__container {
    &__header {
      h1.home__container__header__title {
        font-size: 4.3rem;
      }
    }
    span.home__container__header__tipyng {
      font-size: larger;
    }
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}
