.home__container {
  &__header {
    top: 35px;
    position: relative;

    h1.home__container__header__title {
      position: absolute;
      top: 17%;
      left: 15px;
      color: white;
      font-size: 1.9em;
    }

    span.home__container__header__tipyng {
      position: absolute;
      top: 29%;
      left: 15px;
      color: white;
      display: block;
      white-space: nowrap;
      border-right: 4px solid;
      width: calc(var(--caracteres) * 1ch);
      animation: tipyng 4s steps(var(--caracteres)), blink 0.7s infinite step-end alternate;
      overflow: hidden;
    }

    @keyframes tipyng {
      from {
        width: 0;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }

    img.home__container__header__matrix {
      background: linear-gradient(#364051 0%, #364051 30%, transparent 70%);
      position: relative;
      top: -25px;
      z-index: -1;
    }
    &__profile {
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      gap: 3rem;
      img:first-child {
        border-radius: 50%;
      }
      img:nth-child(2) {
        scroll-behavior: smooth;
        animation: bounce-down 2s linear infinite;
      }

      @keyframes bounce-down {
        25% {
          transform: translateY(-4px);
        }
        50%,
        100% {
          transform: translateY(0);
        }
        75% {
          transform: translateY(4px);
        }
      }
    }
  }

  &__personal__info {
    margin: 35px 15px;
    &__text {
      padding: 0px 10px;
      font-size: 15px;
    }
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}
