<section class="home__container">
  <section class="home__container__header">
    <h1 class="home__container__header__title">{{ 'HOME.POSITION' | translate }}</h1>
    <span class="home__container__header__tipyng" style="--caracteres: 27">{{ 'HOME.GREETING' | translate }}</span>
  </section>
  <section class="home__container__personal__info">
    <h2 class="home__container__personal__info__title">
      {{ 'HOME.PERSONAL_INFO_SECTION.TITLE' | translate | uppercase }}
    </h2>
    <p class="home__container__personal__info__text">{{ 'HOME.PERSONAL_INFO_SECTION.TEXT' | translate }}</p>
    <p class="home__container__personal__info__text text-center">
      {{ 'HOME.PERSONAL_INFO_SECTION.TEXT2' | translate }}
    </p>
    <p class="home__container__personal__info__text text-center">
      {{ 'HOME.PERSONAL_INFO_SECTION.TEXT3' | translate }}
    </p>
    <img src="assets/img/profile.jpeg" class="home__container__personal__info__img" width="40%" alt="" />
  </section>
  <section class="home__container__technologies">
    <p class="home__container__technologies__text">{{ 'HOME.TECHNOLOGIES.TEXT' | translate }}</p>
    <div class="home__container__technologies__slider" [ngStyle]="{ '--sliderElements': technologiesSlider.length }">
      <div class="home__container__technologies__slider__track" id="slider-track" (click)="sliderPause('slider-track')">
        <div
          class="home__container__technologies__slider__track__slide"
          *ngFor="let technology of technologiesSlider.concat(technologiesSlider)"
        >
          <img src="{{ technology.imgSrc }}" alt="{{ technology.alt }}" />
        </div>
      </div>
    </div>
  </section>
  <div class="home__container__arrowDown">
    <img
      src="assets/img/arrow-down.svg"
      class="home__container__arrowDown__bounce"
      width="10%"
      alt="Flecha abajo"
      (click)="scrollToElement('angular-section')"
    />
  </div>
  <div class="home__container__technologiesSections">
    <section class="home__container__angular" id="angular-section">
      <div class="home__container__angular__box">
        <div class="home__container__angular__box__container">
          <img
            src="assets/img/angular-logo.png"
            width="60px"
            alt="Logo Angular"
            class="home__container__angular__box__container__image"
          />
          <p class="home__container__angular__box__container__text">{{ 'HOME.ANGULAR.TEXT' | translate }}</p>
        </div>
      </div>
    </section>
    <section class="home__container__react">
      <div class="home__container__react__box">
        <div class="home__container__react__box__container">
          <img
            src="assets/img/react-logo.png"
            width="60px"
            alt="Logo React"
            class="home__container__react__box__container__image"
          />
          <p class="home__container__react__box__container__text">{{ 'HOME.LOCK' | translate | uppercase }}</p>
          <img class="home__container__react__box__container__lock" src="assets/img/lock.svg" alt="Candado" />
        </div>
      </div>
    </section>
    <section class="home__container__swift">
      <div class="home__container__swift__box">
        <div class="home__container__swift__box__container">
          <img
            src="assets/img/swift-logo.png"
            width="60px"
            alt="Logo Swift"
            class="home__container__swift__box__container__image"
          />
          <p class="home__container__swift__box__container__text">{{ 'HOME.LOCK' | translate | uppercase }}</p>
          <img class="home__container__swift__box__container__lock" src="assets/img/lock.svg" alt="Candado" />
        </div>
      </div>
    </section>
  </div>
  <section class="home__container__softSkills">
    <h2 class="home__container__softSkills__title">{{ 'HOME.SOFT_SKILLS' | translate }}</h2>
    <div class="home__container__softSkills__tags">
      <div class="home__container__softSkills__tags__tag" *ngFor="let skill of softSkills">
        <p class="home__container__softSkills__tags__tag__text">{{ skill }}</p>
      </div>
    </div>
  </section>
  <div class="home__container__speak">
    <h2 class="home__container__speak__title">{{ 'HOME.SPEAK' | translate }}</h2>
    <button class="home__container__speak__button" routerLink="/contact" (click)="toTop()">
      <span class="home__container__speak__button__text">{{ 'HOME.BUTTON_CONTACT' | translate | uppercase }}</span>
    </button>
  </div>
  <section class="home__container__blog">
    <div class="home__container__blog__title">
      <h2>Continua descubriendo mi blog</h2>
      <img src="assets/img/arrow-right.svg" alt="Flecha derecha" routerLink="/blog" (click)="toTop()" />
    </div>
    <div class="home__container__blog__posts">
      <div class="container-slider">
        <div class="slider" id="slider">
          <div class="slider__imgs" *ngFor="let post of posts; index as i; trackBy: trackByFn">
            <img src="{{ post.imgUrl }}" alt="Imagen del post" class="slider__imgs__img" />
            <p>{{ post.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
