.home__container {
  &__header {
    top: 45px;
    position: relative;

    h1.home__container__header__title {
      position: absolute;
      top: 17%;
      left: 15px;
      color: white;
      font-size: 1.9em;
    }

    span.home__container__header__tipyng {
      position: absolute;
      top: 29%;
      left: 15px;
      color: white;
      display: block;
      white-space: nowrap;
      border-right: 4px solid;
      width: calc(var(--caracteres) * 1ch);
      animation: tipyng 4s steps(var(--caracteres)), blink 0.7s infinite step-end alternate;
      overflow: hidden;
    }

    @keyframes tipyng {
      from {
        width: 0;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }

    img.home__container__header__matrix {
      background: linear-gradient(#364051 0%, #364051 30%, transparent 70%);
      position: relative;
      top: -25px;
      z-index: -1;
    }
    &__profile {
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      gap: 3rem;
      img:first-child {
        border-radius: 50%;
      }
      img:nth-child(2) {
        scroll-behavior: smooth;
        animation: bounce-down 2s linear infinite;
      }

      @keyframes bounce-down {
        25% {
          transform: translateY(-4px);
        }
        50%,
        100% {
          transform: translateY(0);
        }
        75% {
          transform: translateY(4px);
        }
      }
    }
  }

  &__personal__info {
    margin: 35px 15px;
    &__text {
      padding: 0px 10px;
      font-size: 15px;
    }
  }

  &__angular {
    margin: 35px 15px;
    &__separator {
      width: 100%;
      height: 5px;
      background: radial-gradient(circle, #e23337 0%, #e23337 30%, white 100%);
      text-align: center;
      border-radius: 50%;
      margin-top: 3.5rem;
      &__img {
        position: relative;
        top: -25px;
      }
    }
    &__title {
      float: right;
    }
    &__text {
      padding: 0px 10px;
      font-size: 15px;
    }
  }

  &__experience {
    margin: 35px 0;
    &__semicircle {
      float: right;
      width: 10rem;
      height: 20rem;
      clip-path: circle(63% at 100%);
      shape-outside: circle(70% at 100%);
      background: black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      & > a {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
      &__img {
        padding: 0 1rem;
      }
    }
    &__positions {
      margin: 35px 15px;
      border-bottom: 1.5px solid transparent;
      border-image: linear-gradient(0.25turn, #87bd25, transparent 70%);
      border-image-slice: 1;
    }
  }
  &__speak {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      text-align: center;
    }
    &__button {
      background: transparent;
      background-image: linear-gradient(90deg, white, white), linear-gradient(to right, #fdaa00, #f565db);
      background-clip: padding-box, border-box;
      background-origin: border-box;
      border: 2px solid transparent;
      border-radius: 10px;
      padding: 3% 7%;
      transition: all 0.2s ease-in-out;
      &__text {
        background-image: linear-gradient(to right, #fdaa00, #f565db);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: large;
      }
    }
    &__button:hover {
      transform: scale(1.2);
    }
  }

  &__blog {
    margin: 35px 15px;
    &__title {
      font-size: medium;
    }
    &__posts {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 5% 2% 0% 2%;
      margin: 5% 10%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &__text {
        padding: 0 7%;
        font-size: small;
      }
    }
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}
