html,
body {
  background: #000000;
  background: -webkit-linear-gradient(0.37turn, #1a1a1a 5%, #000000);
  background: linear-gradient(0.37turn, #1a1a1a 5%, #000000);
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  color: white;
  height: fill-available;
  height: -webkit-fill-available;
}

html {
  background: #000000;
}
