<footer>
  <a
    href="https://wa.me/652936149?text=Hola%20kaceresdev,%20me%20gustaría%20contar%20con%20tus%20servicio%20de%20Desarrollador%20de%20software"
    target="_blank"
  >
    <img src="assets/img/whatsapp.svg" />
  </a>
  <a href="https://www.linkedin.com/in/javier-caceres-bordallo" target="_blank">
    <img src="assets/img/linkedin.svg" />
  </a>
  <a href="https://github.com/kaceresdev" target="_blank">
    <img src="assets/img/github.svg" />
  </a>
  <a href="mailto:kaceresdev@gmail.com?Subject=Contacto%20para%20nuevo%20proyecto">
    <img src="assets/img/arroba.svg" />
  </a>
</footer>
